/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------- Here actual css begin! ---------------- */
html, body{
	height:             100%;
}

body {
	background:         url(/images/backgroundgradient.png) repeat-x;
	font-family:        verdana;
	font-size:          .8em;
}

textarea {
	font-family:        verdana;
}

a {
	text-decoration:    none;
}

em {
	font-style:         normal;
	font-weight:        bold;
}

a:hover {
	text-decoration:    underline;
}

a.button:hover {
	text-decoration:    none;
}

h1 {
	position:           absolute;
	top:                2em;
	background:         url(/images/logo.png);
	height:             5em;
	width:              12.5em;
	text-indent:        -1337em;
}

.catchphrase{
	padding:			5.1em 0 0 13.5em;
}

a.header{
	margin-right:	-100%;
}

#wrapper {
	max-width:          66em;
	min-height:         100%;
	height:             auto !important;
	height:             100%;
	margin:             0 auto -7em auto;
}


#header {
	height: 10em;
}

#hidden{
	display: hidden;
}
/* ------------- Menu! ---------------- */

#menu {
	position:           relative;
	top:                2em;
	right:				0;
}

#menu li {
	list-style-type:    none;
	display:            inline;
	padding:            0 .7em 0 .7em;
	border-right:       1px solid rgb(102,102,102);
	float:              right;
	height:				1em;
}

#menu li:first-child {
	padding-right:      0;
	border:             0;
}

/* ------------- High-five-element! ---------------- */
.highfive {
    position: 			absolute;
    top: 				99px;
   	width:				143px;
   	margin:				0 -72px -143px -72px;
 	left:			 	50%;
   	height:             78px;
	z-index:            2;
	background:         url(/images/bluegreen.png) no-repeat center bottom;
}

.highfive.driver {
	background:         url(/images/bluewhite.png) no-repeat center bottom;
}

.highfive.passenger {
	background:         url(/images//greenwhite.png) no-repeat center bottom;
}

/* ------------- Fields! ---------------- */

fieldset, div.savetrip, .message_box {
	float:              left;
	margin:             0 8% 0 0;
	border-radius:      1em;
	-moz-border-radius: 1em;
}

.message_box {
	padding-bottom: 1em;
}

form#edittrip fieldset.code, form#sendcode fieldset.email, div.message_box {
	margin:             0 auto;
	display:            block;
	float:              none;
}

fieldset h2, div.savetrip h2, .message_box h2 {
	color:              white;
	font-size:          1.35em;
	font-weight:        bold;
	border-bottom:      2px solid white;
	padding:            14px 0;
	margin:             0 0 1em 0;
	border-top-right-radius: 1em;
	-moz-border-radius-topright: 1em;
	border-top-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	position:			relative;
	top:				-3px;
}

fieldset p.regular, fieldset a, div.savetrip p.regular, .message_box p.regular {
	font-size:          1.2em;
	margin:             0 2em 1.2em 2em;
	line-height:		1.3em;
	display:			block;
}

fieldset.savetrip p.regular{
	width:			35em;
}

fieldset a.forgotten{
	margin:             -1.2em 2.1em 0 0;
	float:				right;
	clear:				left;
	line-height:		1em;
	font-size:			1em;
	width:				17em;
	text-align:			right;
}

div.savetrip p.code{
	font-size: 1.2em;
	width: 11em;
	border-radius: 1em;
	-moz-border-radius: 1em;
	text-align: center;
	margin: 2em auto 1.5em auto;
	padding: 1em 0;
}
div.saved_trip{
	margin-top: 2em;
	float: left;
	width: 38em;
}

div.saved_trip p{
	text-align: center;
}


div.saved_trip p.prebutton{
	float:right;
	font-size: 1.2em;
	margin-right: 2em;
}

div.saved_trip p.prebutton a{
	display:block;
	padding: .5em 1em;
	margin-top: .5em;
	font-size: 1em;
}

div.savetrip table{
	float: right;
	border-radius: 1em;
	-moz-border-radius: 1em;
	padding-bottom: 1em;
	margin: 0 2em 2em 0;
}

div.savetrip table tr td{
	padding: .5em 1em;
	width: 17em;
}

div.savetrip table tr td.label{
	width: 5em;
	text-align:	right;
	font-weight: bold;
}

div.savetrip table tr td.edit{
	text-align:right;
	font-weight: bold;
	padding: 1em 0 .5em 0;
	padding-right:	1.5em;
}

div.savetrip table tr td.last{
	padding-bottom: 1.5em;
}


fieldset.driver, div.driver fieldset {
	margin-left:        8%;
	margin-right:       0;
}

label.regular {
	font-size:          1.2em;
	font-weight:        bold;
	margin:             .5em 3% 1.8em 9%;
	width:              10%;
	float:              left;
}


.field {
	padding:            .3em;
	font-size:          1.1em;
	width:              62%;
	margin:             0 0 1.8em 0;
	clear:              right;
}

.button, .passenger .button {
	color:              white;
	padding:            .25em 2em;
	border:             2px solid white;
	border-radius:      1em;
	-moz-border-radius: 1em;
	font-size:          1.1em;
}

fieldset .button {
	float:              right;
	margin:             .9em 1.7em 1.4em 0;
	cursor:             pointer;
}
.hidden{
	display:	none;
}

#radiobuttons input {
	font-size:          1.2em;
	padding:            .3em;
	float:              left;
	margin:             1.3em 0 0 0;
	clear:              left;
}

.savetrip #radiobuttons input {
	clear:              none;
}

#radiobuttons {
	float:              left;
	margin:             0 0 0 -5.3em;
	padding-bottom:     2em;
}


.savetrip #radiobuttons {
	float:              left;
	clear:              left;
/*	margin:             0 0 0 5.9em;*/
	margin:             0 0 0 3em;
	padding:            0;
}


#radiobuttons label.regular {
	margin:             1.1em 1.8em 0 .5em;
	width:              auto;
	text-align:         left;
	float:              left;
}




/* Searchfields */
fieldset, .message_box {
	width:              42%;
}

fieldset h2 {
	text-align:         center;
}


/* Savetripfields */

fieldset.savetrip, div.savetrip {
	width:              100%;
	margin:				0;

}

.passenger fieldset.savetrip{
	margin:       		 0;

}

.savetrip h2, div.savetrip h2, .message_box h2 {
	padding:            14px 0 14px 2em;
	text-align:			left;
}

.savetrip .generals {
	width: 				32.3%;
	float:              left;
}

.savetrip .field {
	width:              63%;
}

.when {
	margin-bottom:		0;
}

.savetrip label.regular {
	text-align:         right;
	width: 				14%;
}

.savetrip #contact {
    margin-bottom:		-2em;
	width:              34%;
	float:              left;
}

.savetrip #contact label.regular {
	width:              22%;
	margin-left:		5%;
}

.savetrip #contact .field {
	width:              62%;
}

.savetrip #details {
	width:              30%;
	margin-top:         -2.5em;
	float:              left;
}

.savetrip #details label.regular {
	margin-bottom:		0;
}

.savetrip #details textarea {
	margin:             .5em 0 0 2em;
	float:              left;
	clear:              left;
	height:             9em;
	width: 				87%;
}

div.savetrip ul li {
	width: 8em;
}


/* Passenger/Driver Color */
a {
	color:              rgb(28,101,109);}

.passenger a {
	color:              rgb(79,112,52);
}


fieldset, th, div.savetrip, .message_box{
	background:         rgb(147,206,225);
	color:              rgb(28,101,109);
}

fieldset.passenger, .passenger th, div.savetrip.passenger {
	background:         rgb(167,209,110);
	color:              rgb(79,112,52);
}


fieldset h2, .button, div.savetrip h2, .message_box h2 {
	background:         rgb(28,101,109);
}
.passenger h2, .passenger .button,  div.savetrip.passenger h2 {
	background:         rgb(97,140,61);
}

p, #searchresults h2 {
	color:              rgb(28,101,109);
}

.passenger p, div#searchresults.passenger h2 {
	color:              rgb(97,140,61);
}

#searchresults tr.highlight td {
	background:			rgb(147, 206, 225)!important;
}

#searchresults.passenger tr.highlight td{
	background:			rgb(167, 209, 110)!important;
}


.field {
	color:              rgb(54,150,163);
	border:             2px solid rgb(216,232,264)
}

.passenger .field {
	color:              rgb(97,140,61);
	border:             2px solid rgb(200,222,157)
}

.when{
	background:         url(/images/bluecalendar.png) no-repeat  center right white;
}

fieldset.passenger  .when {
	background:         url(/images/greencalendar.png) no-repeat  center right white;
}

div.savetrip table, div.savetrip p.code{
	background: rgb(213,235,243);
}

div.savetrip.passenger table, div.savetrip.passenger p.code{
	background: rgb(219,238,199);
}
/*----- errormessages --------*/
.input_error{
	border:	2px solid rgb(234, 117, 117) !important;
}

.spacer {
	float: 		right;
	position:	relative;
	left:		-3.3em;
	top:		-.4em;
	z-index:	100;
	width:		100%;
	margin-right:	-100%;
}

.passenger.search .spacer {
	margin:	0 0 0 -100%;
	left:		-16.5em;

}

.passenger .savetrip .spacer {
	margin:	0 -100% 0 0;
	left:		3.3em;;

}





 .error {
	display:			none;
	padding:			0 1.5em .5em 1.1em;
	margin:				0 0 0 29px;
	max-width:			20em;
	float:				left;

	background:         rgb(239,236,137) !important;
	border:				1px solid rgb(201,194,64);
	color:				rgb(102,102,102) !important;
	border-radius:      .6em;
		-moz-border-radius: .6em;
	 	 -moz-box-shadow: 1px 1px 2px rgb(102,102,102);
		-webkit-box-shadow: 1px 1px 2px rgb(102,102,102);
		box-shadow: 1px 1px 2px rgb(102,102,102);
}

 .passenger.search .error {

	margin:				0 ;
}

 .passenger.savetrip .error {

	margin:				0 0 0 29px ;
}

.visible{
	display:			inline;
}


.error p {
	background: 		url(/images/left_arrow.png) no-repeat 0 6px;
	line-height:		1.5em;
	margin-left:		-29px;
	padding:			.7em .5em .2em 2em;
	width:				100%;
	min-height:			1.4em;
	font-size:			1em;
}

.error a {
	text-decoration: underline;
}


.passenger.search .error p  {
	background: 		url(/images/right_arrow.png) no-repeat right 6px;
	margin:				0;
	padding:			.7em 2.2em 0 .5em;
}

.passenger.savetrip .error p  {
	background: 		url(/images/left_arrow.png) no-repeat 0 6px;
	margin:				0 0 0 -29px;
	padding:			.7em .5em .2em 2em;
}

.error ul{
	margin-top:			.2em;
}

.error ul li {
	list-style:			disc;
	margin:			0 0 .5em 1em;
}

.error ul li a {
	font-size:		1em;
	margin:			 0;
}



.savetrip .generals .spacer {
		left:		-1.8em;
}

.savetrip #contact .spacer {
		left:		-1.7em;
}

.savetrip #contact .spacer .error {
		max-width:		15em;
}

/*----- Messagebox --------*/

#messages {
	float:				left;
	margin: 			8.4% 4% 0 4%;
	width:				41%;
}

#messages .button {
	display:            block;
	width:              6.5em;
	padding:			.3em 1.5em;
	margin:             1em auto 0 auto;
	text-align:         center;
	line-height:        1.4em;
	color:				white;
}

#messages p {
	text-align:         center;
	font-size:          1.1em;
	line-height:        1.3em;
}

.passenger #messages{
	margin-left:		0;
	margin-right:		5em;
}

/*-------- Searchresults --------*/
#searchresults {
	float:				left;
	margin-top:         2em;
	width:              100%
}

#searchresults h2 {
	font-weight:        normal;
	font-size:          1.2em;
	background:			transparent;
}



.passenger #searchresults h2{
	float:				right;
	padding-bottom:		1em;

}

#searchresults table {
	margin-top:         1em;
	width:              100%;
}

#searchresults th {
	padding:            .8em 0 .8em 1.5em;
	text-align:         left;
}

#searchresults th:first-child {
	border-top-left-radius: .7em;
	-moz-border-radius-topleft: .7em;
	border-bottom-left-radius: .7em;
	-moz-border-radius-bottomleft: .7em;
}

#searchresults th:last-child {
	border-top-right-radius: .7em;
	-moz-border-radius-topright: .7em;
	border-bottom-right-radius: .7em;
	-moz-border-radius-bottomright: .7em;
}

#searchresults tbody {
	margin-top:         1em;
}

#searchresults tr.spacing td {
	border:             0;
	padding-top:		0;
}

#searchresults td {
	border-top:         1px solid rgb(200,200,200);
	padding:            .8em 0 .8em 1.5em;
	line-height:        1.5em;
}

#searchresults .destination {
	width:              20em;
}

#searchresults .time {
	width:              15em;
}

#searchresults tr.odd td {
	background:         rgb(255, 253, 230);
}



#searchresults tr.highlight td {
	cursor:             pointer;
}

#searchresults tr.details td {
	border-top:         none;
	padding-top:        0;
}

/*------------- freetext -----------------*/

.freetext {
	background:none repeat scroll 0 0 white;
	padding:  10px 30px 30px 30px;
	border-radius:      1em;
	-moz-border-radius: 1em;
}

.freetext h2 {

	margin-top: 1.5em;
	font-size:	1.5em;
	line-height: 1.5em;
}

.freetext h3,.freetext h4,.freetext h5 {
	font-size:	1.1em;
	line-height: 1.5em;
}

.freetext p, .freetext code{
	color:	black;
	font-size:	1.1em;
	line-height: 1.5em;
}

.freetext td{
	border: 1px solid black;
	padding: 5px;
}





/*------------- Footer -----------------*/

#footer {
	background:       		rgb(237,237,237);
	clear:              	both;
	height:					3em;
	margin:             	2em auto 2em auto;
	max-width:        	  	66em;
	border-radius:			1em;
	-moz-border-radius: 	1em;
}

#footer ul {

	display:        			    inline;
	padding-left:			        1.5em;
	float:              			left;
	border-top-left-radius:			1em;
	-moz-border-radius-topleft: 	1em;
	border-bottom-left-radius: 		1em;
	-moz-border-radius-bottomleft:  1em;
}

#footer ul li {
	display:            inline;
	float:              left;
	padding:            0 .7em 0 .7em;
	margin:             12px 0;
}


#footer #legal {
	float:              			right;
	padding:						10px 2em 10px 0;
	width:							3em;
	margin-left:					-1em
}

img#kundo_feedback {
	position:           absolute;
	top:                200px;
	right:              0;
	z-index:            99999;
	cursor:             pointer;
	margin:             0;
}

/*------------- geo_autocomplete -----------------*/


.ui-autocomplete {
	width:			16em;
	margin-bottom:	-100%;
}

.ui-autocomplete li {
	position:				relative;
	top:					-2px;
	left:					2px;
	width: 					233px;
	font-size:				12px;
	background: 			white;
}
.ui-autocomplete li a {
	color:					black;
	text-decoration:		none;
	cursor:					pointer;
	display:				block;
	padding: 				4px;
}

.ui-autocomplete li a.ui-state-hover {
		background:			rgb(10, 36, 106);
		color:				white;
}


/*------------- jQuery -----------------*/


.help {
	font-style:         italic;
}

/*------------- jDatepicker -----------------*/
.jdpicker_w{
	display:inline;
}


.jdpicker_w .date_selector * {
	width: auto;
	height: auto;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	font-size:12px;
}
.jdpicker_w .date_selector {
	background: #FFF;
	border: 1px solid #bbb;
	padding: 5px;
	margin: -1px 0 0 0;
	position: absolute;
	z-index: 100000;
	display: none;
	width:210px
}

.jdpicker_w .date_selector table{
	width:210px;
	margin-left:3px;
}

.jdpicker_w .date_clearer{
	color: #a00;
	padding-left:3px;
	cursor:pointer;
	font-weight:bold;
	font-family:sans-serif
}

.jdpicker_w .date_selector_ieframe {
	position: absolute;
	z-index: 99999;
	display: none;
}

.jdpicker_w .error_msg{
	display:none;
	text-align:center;
	font-size:0.8em;
	color:#666
}

.jdpicker_w .date_selector .nav {
	width: 17.5em; /* 7 * 2.5em */
}
.jdpicker_w .date_selector .month_nav, .jdpicker_w .date_selector .year_nav {
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
	position: relative;
	text-align: center;
}
.jdpicker_w .date_selector .month_nav {
	float: left;
	width: 56%;
}
.jdpicker_w .date_selector .year_nav {
	float: right;
	width: 37%;
	position:relative;
}

.jdpicker_w .date_selector .month_nav select {
	width:75px;
	margin: 0 auto;
	border:1px solid #ccc;
	position:relative;
	top:1px
}

.jdpicker_w .date_selector .year_nav .year_input {
	text-align:center;
	width:36px;
	border:1px solid #ccc;
	position:relative;
	top:2px
}

.jdpicker_w .date_selector .month_name, .jdpicker_w .date_selector .year_name {
	font-weight: bold;
	line-height: 20px;
}
.jdpicker_w .date_selector .button {
	display: block;
	position: absolute;
	top: 0;
	width: 18px;
	height: 18px;
	line-height: 17px;
	font-weight: bold;
	color: #333;
	text-align: center;
	font-size: 120%;
	overflow: hidden;
	border: 1px solid #F2F2F2;
	cursor:pointer;
}

.jdpicker_w .date_selector .button:hover, .jdpicker_w .date_selector .button.hover {
	background: none;
	color: #333;
	cursor: pointer;
	border-color: #ccc;
}

.jdpicker_w .date_selector .prev {
	left: 0;
}
.jdpicker_w .date_selector .next {
	right: 0;
}

.jdpicker_w .date_selector table {
	margin:0 auto;
	border-spacing: 1px;

	clear: both;
}
.jdpicker_w .date_selector th{
	padding-top:5px
}

.jdpicker_w .date_selector th, .jdpicker_w .date_selector td {
	text-align: center;
	color: black;
}

.jdpicker_w .date_selector th.week_label{
	font-weight:normal;
	font-style:italic;
	font-size:80%;
	width:25px
}

.jdpicker_w .date_selector .week_num, .jdpicker_w .date_selector .hover .week_num, .jdpicker_w .date_selector .selected .week_num{
	font-style:italic;
	color:#333 !important;
	vertical-align:bottom !important;
	text-align:right;
	border:none !important;
	font-size:70%;
	background:#FCFCFC !important;
	padding-right:4px;
}

.jdpicker_w .date_selector td {
	border: 1px solid #ccc;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
	color: #003C78;
	background: white;
}
.jdpicker_w .date_selector td.today {
	background: #FFFEB3;
}
.jdpicker_w .date_selector td.unselected_month {
	color: #ccc;
}
.jdpicker_w .date_selector td.selectable_day, .jdpicker_w .date_selector tr.selectable_week td {
	cursor: pointer;
	background:url('images/bg_selectable.png');
	border:1px solid #aaa;
	color:#333
}
.jdpicker_w .date_selector td.selected, .jdpicker_w .date_selector tr.selected  td{
	background: url('images/bg_selected.png');
	font-weight: bold;
}
.jdpicker_w .date_selector tr.selectable_week.hover td, .jdpicker_w .date_selector td.selectable_day.hover {
	background: url('images/bg_hover.png');
	color: white;
}

/* -------------- Geo_autocomplete ------------ */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
